<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}
 <h1 class="page-title"> 15 Days Split (Bench Press Focus) — Day 7 : Back (95-100%) </h1>

<table>
    <tr>
        <th> Exercise </th>
        <th> Sets </th>
        <th> Reps </th>
        <th> Rest Time between sets </th>
        <th> Rest Time at the end of the exercise </th>
    </tr>
    <tr>
        <td>V-Bar Pulldown</td>
        <td>    4    </td>
        <td>    2-5    </td>
        <td>    3min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>One-Arm Dumbbell Row</td>
        <td>    3    </td>
        <td>    4-6    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>Hyperextensions</td>
        <td>    3    </td>
        <td>    15-20    </td>
        <td>    1min    </td>
        <td>    -    </td>
    </tr>

</table>

{% endblock %}
</body>
</html>