<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}
 <h1 class="page-title"> 15 Days Split (Bench Press Focus) — Day 13 : Shoulders (80%) </h1>

<table>
    <tr>
        <th> Exercise </th>
        <th> Sets </th>
        <th> Reps </th>
        <th> Rest Time between sets </th>
        <th> Rest Time at the end of the exercise </th>
    </tr>
    <tr>
        <td>Upright Barbell Row</td>
        <td>    4    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>Power Partials</td>
        <td>    4    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>face Pull</td>
        <td>    3    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    -    </td>
    </tr>

</table>

{% endblock %}
</body>
</html>