<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}


 <h1 class="page-title">Level 5: 4 Days Split  — Day 4(Fri): Shoulders </h1>

<table>
    <tr>
        <th> Exercise </th>
        <th> Sets </th>
        <th> Reps </th>
        <th> Rest Time between sets </th>
        <th> Rest Time at the end of the exercise </th>
    </tr>
    <tr>
        <td>Dumbbell Shoulder Press</td>
        <td>    4    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>Barbell Shrug</td>
        <td>    4    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>Power Partiels</td>
        <td>    3    </td>
        <td>    8-12    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>Face Pull</td>
        <td>    3    </td>
        <td>    10-15    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>

</table>

{% endblock %}
</body>
</html>