<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}
 <h1 class="page-title">Level 4: 4 Days Split  — Day 1(Mon): Chest + Biceps</h1>

<table>
    <tr>
        <th> Exercise </th>
        <th> Sets </th>
        <th> Reps </th>
        <th> Rest Time between sets </th>
        <th> Rest Time at the end of the exercise </th>
    </tr>
    <tr>
        <td>Smith Machine Bench Press</td>
        <td>    4    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>Bumbbell Alternate Bicep Curl</td>
        <td>    3    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>Incline Dumbbell Flyes</td>
        <td>    3    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>One Arm Dumbbell Preacher Curl</td>
        <td>    3    </td>
        <td>    10-12    </td>
        <td>    2min    </td>
        <td>    -    </td>
    </tr>

</table>

{% endblock %}
</body>
</html>