
{% extends 'pagefirst/base.html' %}

{% block content %}
<h1 class="page-title">Level 1: FullBody — Day 2</h1>

<table>
    <tr>
        <th> Exercise </th>
        <th> Sets </th>
        <th> Reps </th>
        <th> Rest Time between sets </th>
        <th> Rest Time at the end of the exercise </th>
    </tr>
    <tr>
        <td>Dumbbell Bench Press</td>
        <td>4</td>
        <td>6-8</td>
        <td>2min</td>
        <td>3min</td>
    </tr>
    <tr>
        <td>Lat Pulldown</td>
        <td>4</td>
        <td>6-8</td>
        <td>2min</td>
        <td>3min</td>
    </tr>
    <tr>
        <td>Upright Barbell Row</td>
        <td>3</td>
        <td>6-8</td>
        <td>2min</td>
        <td>3min</td>
    </tr>
    <tr>
        <td>ABD Crunches</td>
        <td>3</td>
        <td>12-15</td>
        <td>1min</td>
        <td>-</td>
    </tr>
</table>

{% endblock %}

