<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}


 <h1 class="page-title">Level 6: 5 Days Split(Lower Focus)  — Day 1(Mon): Quadriceps + Calves </h1>

<table>
    <tr>
        <th> Exercise </th>
        <th> Sets </th>
        <th> Reps </th>
        <th> Rest Time between sets </th>
        <th> Rest Time at the end of the exercise </th>
    </tr>
    <tr>
        <td>Leg Press</td>
        <td>    4    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>Leg Extensions</td>
        <td>    4    </td>
        <td>    8-12    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>

    <tr>
        <td>Smith Machine  Reverse Calf Raises</td>
        <td>    3    </td>
        <td>    20-30   </td>
        <td>    1min    </td>
        <td>    -   </td>
    </tr>

</table>

{% endblock %}
</body>
</html>