<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}
<h1 class="page-title">Level 4: 4 Days Split  — Day 3(Thu): Back + Triceps</h1>

<table>
    <tr>
        <th> Exercise </th>
        <th> Sets </th>
        <th> Reps </th>
        <th> Rest Time between sets </th>
        <th> Rest Time at the end of the exercise </th>
    </tr>
    <tr>
        <td>Lat Pulldown</td>
        <td>    4    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>Seated/Standing Triceps Press</td>
        <td>    4    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>One-Arm Dumbbell Row</td>
        <td>    3    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>Hyperextension</td>
        <td>    3    </td>
        <td>    15-20    </td>
        <td>    2min    </td>
        <td>    -   </td>
    </tr>

</table>

{% endblock %}
</body>
</html>