
{% extends 'pagefirst/base.html' %}

{% block content %}
<h1 class="page-title">Level 3: 3 Days Split  — Day 1(Mon): Chest + Biceps</h1>

<table>
    <tr>
        <th> Exercise </th>
        <th> Sets </th>
        <th> Reps </th>
        <th> Rest Time between sets </th>
        <th> Rest Time at the end of the exercise </th>
    </tr>
    <tr>
        <td>Barbell Incline Bench Press</td>
        <td>    4    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>EZ-Bar Curl</td>
        <td>    4    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>Dumbbell Flyes</td>
        <td>    3    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>Alternate Hammer Curl</td>
        <td>    3    </td>
        <td>    6-8    </td>
        <td>    2min    </td>
        <td>    3min    </td>
    </tr>
    <tr>
        <td>ABD Crunches</td>
        <td>    3    </td>
        <td>    10-15    </td>
        <td>    1min    </td>
        <td>    -    </td>
    </tr>
</table>

{% endblock %}

