

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>9 Days Split(Lower Focus)</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}
    <h1 class="page-title">9 Days Split(Lower Focus)</h1>

    <h2 class="page-title">Training Days</h2>

<div class="menu-buttons">
    <a class="big-btn" href="/programs/9days_lower/day1/">Day 1: Quadriceps + Calves </a>
    <a class="big-btn" href="/programs/9days_lower/day2/">Day 2: Arms + Shoulders </a>
    <a class="big-btn" href="/programs/9days_lower/day3/">Day 3: Hamstrings + Calves </a>


    <div class="rest-day">Day 4: Rest </div>


    <a class="big-btn" href="/programs/9days_lower/day5/">Day 5: Quadriceps + Calves </a>
    <a class="big-btn" href="/programs/9days_lower/day6/">Day 6: Arms + Shoulders </a>
    <a class="big-btn" href="/programs/9days_lower/day7/">Day 7: Adductors + Abductors + Calves </a>


    <div class="rest-day">Day 8: Rest </div>
    <div class="rest-day">Day 9: Rest </div>
</div>
{% endblock %}
</body>
</html>