<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}
    <h1 class="page-title">Level 5: 4 Days Split(Lower Focus) </h1>

    <h2 class="page-title">Training Days</h2>

<div class="menu-buttons">
    <a class="big-btn" href="/programs/level5_lower/day1/">Day 1(Mon): Upper   </a>
    <a class="big-btn" href="/programs/level5_lower/day2/">Day 2(Tue): Legs </a>
    <a class="big-btn" href="/programs/level5_lower/day3/">Day 3(Thu): Arms </a>
    <a class="big-btn" href="/programs/level5_lower/day4/">Day 4(Fri): Legs </a>
</div>

{% endblock %}
</body>
</html>