
{% extends 'pagefirst/base.html' %}

{% block content %}


    <h1 class="programs-title">Training Programs</h1>

    <div class="programs-wrapper">
        <div class="programs-container">
            <div class="program-item">
                <a href="/programs/level1/" class="program-button">Level 1: FullBody</a>
            </div>
            <div Class="program-item">
                <a href="/programs/level2/" class="program-button">Level 2: Upper/Lower Split</a>
            </div>
            <div Class="program-item">
                <a href="/programs/level3/" class="program-button">Level 3: 3 Days Split</a>
            </div>
            <div Class="program-item">
                <a href="/programs/level4/" class="program-button">Level 4: 4 Days Split </a>
            </div>
            <div Class="program-item">
                <a href="/programs/level5/" class="program-button">Level 5: 4 Days Split(Upper Focus) </a>
            </div>
            <div Class="program-item">
                <a href="/programs/level5_lower/" class="program-button">Level 5: 4 Days Split(Lower Focus) </a>
            </div>
            <div Class="program-item">
                <a href="/programs/level6/" class="program-button">Level 6: 5 Days Split </a>
            </div>
            <div Class="program-item">
                <a href="/programs/level6_upper/" class="program-button">Level 6: 5 Days Split(Upper Focus) </a>
            </div>
            <div Class="program-item">
                <a href="/programs/level6_lower/" class="program-button">Level 6: 5 Days Split(Lower Focus) </a>
            </div>
            <div Class="program-item">
                <a href="/programs/9days_upper/" class="program-button">9 Days Split(Upper Focus) </a>
            </div>
            <div Class="program-item">
                <a href="/programs/9days_lower/" class="program-button">9 Days Split(Lower Focus) </a>
            </div>
            <div Class="program-item">
                <a href="/programs/15days_bench_press/" class="program-button">15 Days Split(Bench Press Focus) </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

