<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>15 Days Split(Bench Press Focus)</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}
    <h1 class="page-title">15 Days Split(Bench Press Focus)</h1>

    <h2 class="page-title">Training Days</h2>

<div class="menu-buttons">
    <a class="big-btn" href="/programs/15days_bench_press/day1/">Day 1: Chest (60%) </a>
    <a class="big-btn" href="/programs/15days_bench_press/day2/">Day 2: Back (80%) </a>
    <a class="big-btn" href="/programs/15days_bench_press/day3/">Day 3: Shoulders (95-100%)  </a>


    <div class="rest-day">Day 4: Rest </div>
    <div class="rest-day">Day 5: Rest </div>


    <a class="big-btn" href="/programs/15days_bench_press/day6/">Day 6: Chest (80%) </a>
    <a class="big-btn" href="/programs/15days_bench_press/day7/">Day 7: Back (95-100%) </a>
    <a class="big-btn" href="/programs/15days_bench_press/day8/">Day 8: Shoulders (60%) </a>


    <div class="rest-day">Day 9: Rest </div>
    <div class="rest-day">Day 10: Rest </div>


    <a class="big-btn" href="/programs/15days_bench_press/day11/">Day 11: Chest (95-100%) </a>
    <a class="big-btn" href="/programs/15days_bench_press/day12/">Day 12: Back (60%) </a>
    <a class="big-btn" href="/programs/15days_bench_press/day13/">Day 13: Shoulders (80%) </a>


    <div class="rest-day">Day 14: Rest </div>
    <div class="rest-day">Day 15: Rest </div>

</div>
{% endblock %}
</body>
</html>