<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}
    <h1 class="page-title">Level 1: FullBody</h1>

    <h2 class="page-title">Training Days</h2>

<div class="menu-buttons">
    <a class="big-btn" href="/programs/level1/day1/">Day 1: Monday</a>
    <a class="big-btn" href="/programs/level1/day2/">Day 2: Wednesday</a>
    <a class="big-btn" href="/programs/level1/day3/">Day 3: Friday</a>
</div>

{% endblock %}

</body>
</html>