<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}
    <h1 class="page-title">Level 6: 5 Days Split (Lower Focus) </h1>

    <h2 class="page-title">Training Days</h2>

<div class="menu-buttons">
    <a class="big-btn" href="/programs/level6_lower/day1/">Day 1(Mon): Legs   </a>
    <a class="big-btn" href="/programs/level6_lower/day2/">Day 2(Tue): Shoulders </a>
    <a class="big-btn" href="/programs/level6_lower/day3/">Day 3(Wed): Legs</a>
    <a class="big-btn" href="/programs/level6_lower/day4/">Day 4(Thu): Arms </a>
    <a class="big-btn" href="/programs/level6_lower/day5/">Day 5(Fri): Legs </a>
</div>

{% endblock %}
</body>
</html>