<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}
    <h1 class="page-title">Level 4: 4 Days Split </h1>

    <h2 class="page-title">Training Days</h2>

<div class="menu-buttons">
    <a class="big-btn" href="/programs/level4/day1/">Day 1(Mon): Chest + Biceps </a>
    <a class="big-btn" href="/programs/level4/day2/">Day 2(Tue): Shoulders </a>
    <a class="big-btn" href="/programs/level4/day3/">Day 3(Thu): Back + Triceps</a>
    <a class="big-btn" href="/programs/level4/day3/">Day 4(Fri): Legs </a>
</div>

{% endblock %}
</body>
</html>