

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>9 Days Split(Upper Focus)</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}
    <h1 class="page-title">9 Days Split(Upper Focus)</h1>

    <h2 class="page-title">Training Days</h2>

<div class="menu-buttons">
    <a class="big-btn" href="/programs/9days_upper/day1/">Day 1: Chest + Biceps </a>
    <a class="big-btn" href="/programs/9days_upper/day2/">Day 2: Back + Triceps </a>
    <a class="big-btn" href="/programs/9days_upper/day3/">Day 3: Shoulders + Calves </a>


    <div class="rest-day">Day 4: Rest </div>


    <a class="big-btn" href="/programs/9days_upper/day5/">Day 5: Back + Triceps</a>
    <a class="big-btn" href="/programs/9days_upper/day6/">Day 6: Chest + Biceps </a>
    <a class="big-btn" href="/programs/9days_upper/day7/">Day 7: Shoulders + Calves </a>


    <div class="rest-day">Day 8: Rest </div>
    <div class="rest-day">Day 9: Rest </div>
</div>
{% endblock %}
</body>
</html>