<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'pagefirst/base.html' %}

{% block content %}
    <h1 class="page-title">Level 6: 5 Days Split </h1>

    <h2 class="page-title">Training Days</h2>

<div class="menu-buttons">
    <a class="big-btn" href="/programs/level6/day1/">Day 1(Mon): Chest   </a>
    <a class="big-btn" href="/programs/level6/day2/">Day 2(Tue): Back </a>
    <a class="big-btn" href="/programs/level6/day3/">Day 3(Wed): Shoulders</a>
    <a class="big-btn" href="/programs/level6/day4/">Day 4(Thu): Arms </a>
    <a class="big-btn" href="/programs/level6/day4/">Day 5(Fri): Legs </a>
</div>

{% endblock %}
</body>
</html>