<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'pagefirst/base.html' %}

{% block content %}
    <h1 class="page-title">Level 3: 3 Days Split </h1>

    <h2 class="page-title">Training Days</h2>

<div class="menu-buttons">
    <a class="big-btn" href="/programs/level3/day1/">Day 1(Mon): Chest + Biceps </a>
    <a class="big-btn" href="/programs/level3/day2/">Day 2(Wed): Back + Triceps </a>
    <a class="big-btn" href="/programs/level3/day3/">Day 3(Fri): Legs </a>
</div>

{% endblock %}

</body>
</html>